.heading{
    font-size: large;
    width: 100%;
    margin: 0px;
}

.note{
    font-size: medium;
    color: darkorange;
}
body{
    background-size: cover;
    font-family: 'Pacifico', cursive;
}
.speedOdiv{
    float: left;
}

.divSpeedImg, .divVolImg{
    width: 200px;
    border-radius: 100px;
}

#speed, #vol{
    font-size: 25px;
    margin: 15px;
}


.volOdiv{
    float: right;
}


.playButton,.pauseButton,.stopButton{
    width:150px ;
    font-size:30px ;
}

canvas{
    border: 2px solid deeppink;
}